.signin {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: block;
  padding: 30px 30px 50px 30px;
  border-radius: 21px;
  background: #fff;
  box-shadow: 3px 3px 0px 0px rgba(218, 198, 198, 0.25);
}

.title {
  text-align: center;
  margin-bottom: 45px;
  color: #bfb2b5;
  font-size: 32px;
  font-weight: 900;
}

.field {
  width: 375px;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  justify-content: center;
}
