.home {
  height: 100%;
  padding-top: 110px;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 40px;
  color: var(--text-color);
  font-size: 64px;
  font-weight: 900;
  text-align: center;
}

.username {
  margin: 40px auto 0 auto;
  width: 450px;
  padding: 47px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  color: var(--text-color);
  border: 6px solid var(--text-color);
}

.link {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  max-width: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 33px;
  border-radius: 57px;
  background: var(--accent_1);
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  transition: all 0.3s;

  &:hover {
    letter-spacing: 3.6px;
    box-shadow: 7px 9px 0px 0px #9b1c45;
  }
}

.btns {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.minbtn,
.maxbtn {
  padding: 15px 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  border-radius: 9px;
  background: #7dace4;
  transition: all 0.3s;

  &:hover {
    background: #458ee6;
    box-shadow: 5px 5px 0px 0px #700961;
  }
}

.maxbtn {
  padding: 20px 50px;
  font-size: 24px;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 700;
  border: none;
  background-color: transparent;
  transition: all 0.3s;
  padding: 10px 15px;
  border: 3px solid transparent;
  border-radius: 9px;

  &:hover {
    border: 3px solid var(--text-color);
  }
}
