.home {
  height: 100%;
  padding-top: 110px;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 40px;

  font-size: 64px;
  font-weight: 900;
  color: var(--text-color);
  text-align: center;
}

.username {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 450px;
  margin: 40px auto 0;
  padding: 47px 10px;

  font-size: 32px;
  font-weight: 700;
  color: var(--text-color);

  border: 6px solid var(--text-color);
  border-radius: 15px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 450px;
  padding: 33px;

  font-size: 40px;
  font-weight: 900;
  color: #fff;

  background: var(--accent-1);
  border-radius: 57px;

  transition: all 0.3s;

  &:hover {
    letter-spacing: 3.6px;
    box-shadow: 7px 9px 0 0 #9b1c45;
  }
}

.btns {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
}

.maxbtn {
  padding: 20px 50px;
  font-size: 24px;
}

.minbtn,
.maxbtn {
  padding: 15px 50px;

  font-size: 16px;
  font-weight: 900;
  color: #fff;

  background: #7dace4;
  border-radius: 9px;

  transition: all 0.3s;

  &:hover {
    background: #458ee6;
    box-shadow: 5px 5px 0 0 #700961;
  }
}

.logout {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 15px;

  font-size: 16px;
  font-weight: 700;
  color: var(--text-color);

  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 9px;

  transition: all 0.3s;

  &:hover {
    border: 3px solid var(--text-color);
  }
}
