.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  gap: 28px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
  font-size: 16px;

  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--bg-color, #dcdcde);
  }

  &::before {
    margin-right: 16px;
  }

  &::after {
    margin-left: 16px;
  }
}

.oauth-provider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--bg-color);
  cursor: pointer;
  transition: 0.25s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
}
