.label {
  display: block;
  width: 100%;
}

.input {
  display: block;

  width: 100%;
  height: 45px;
  padding: 12px 24px;

  font-size: 16px;
  font-weight: 700;
  color: #bfb2b5;

  border: 3px solid var(--text-color);
  border-radius: 25px;

  &::placeholder {
    font-size: 16px;
    font-weight: 700;
    color: #bfb2b5;
  }
}

.error {
  margin-top: 5px;
  padding-left: 10px;

  font-size: 14px;
  font-weight: 400;
  color: var(--accent-1);
}
