@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,400&display=swap');

* {
  --bg-color: #e5e6e0;
  --text-color: #bfb2b5;
  --focus-color: #a5a5c0;
  --accent-1: #e61c5d;
  --accent-2: #cd7c39;
  --accent-3: #7ec36e;
  --radius-panel: 21px;
  --shadow-panel: 3px 3px 0 0 rgb(218 198 198 / 25%);
  --border: var(--text-color) 3px solid;
  --border-focus: var(--focus-color) 3px solid;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.spinner {
  animation: spin 5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
