.block {
  color: var(--text-color);
  display: flex;
}

.block .imgBlock {
  display: flex;
  align-items: center;
}

.block img {
  width: 62px;
}

.counter {
  margin-left: 12px;
  font-size: 64px;
  font-weight: 900;
}
