.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 40px;
  background: #fff;
}

.game-controls {
  position: absolute;
  bottom: 60px;
  left: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-grow: 1;
}

.button-fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 21px;
  height: 45px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background: var(--accent-1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  gap: 80px;
  flex-wrap: wrap;

  padding: 0 60px;
}

.dialogTitle {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 28px;
  color: var(--text-color);
}

.dialogCounts {
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  color: var(--text-color);
  margin-bottom: 28px;
}

.dialogBtnBlock {
  display: flex;
  justify-content: center;
}

.dialogBtn {
  padding: 12px 20px;
  background-color: #9b1c45;
  color: white;
  font-size: 24px;
  font-weight: 900;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.link {
  position: absolute;
  top: 12px;
  left: 12px;
}
